* {	box-sizing: border-box;	margin: 0;	padding: 0; }

.mltr { margin-left: 5%; margin-right: 5%; }
.round-img { border-radius: 50%; }
.tranparent { background-color: rgba(244, 241, 241, 0.47) !important; }
.color-black { color: #000 !important; }
.color-white { color: #fff !important; }
.color-red { color: #d0151e !important; }
.color-green { color: #65b27e; }
.color-light { color: #fff; }
.text-bold { font-weight: bold; }

.btn-red-white {
	background-color: red;
	color: #fff;
	border-radius: 10px;
	display: block;
	width: 100%;
	border: none;
	padding: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	cursor: pointer;
}
.btn-white-red {
	background-color: #fff;
	color: red;
	border-radius: 5px;
	border: none;
	padding: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 25%;
	cursor: pointer;
}
body { 
	background-color: #010101; 
	color: #fff; 
	font-family: 'Roboto', sans-serif;
}

#menu {
	background-color: #191919;
	color: #fff;
	overflow: hidden;
	padding-top: 2%;
	padding-bottom: 2%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
#menu-bar {
	
	width: 10%;
	float: left;
}
#brand-name {

	width: 40%;
	float: left;
	margin-left: 2%;
	font-size: 1.1em;
	margin-top: 2%;
	font-weight: bold;
}
#brand-name span {
	color: #9b0d0b;
}
#logo {

	float: right;
	width: 30%;
}
#logo img {
	width: 100%;
}

.box {

	clear: both;
	overflow: hidden;
}
.box-head {

	margin-top: 5%;
}
.box-img {
	cursor: pointer;
	width: 31%;
	float: left;
	margin-right: 2%;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}
.box-img img {

	width: 100%;
}
.box-img-title {

}
.box-img-title h4 {

}
.footer-bar {

	background-color: #191919;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.foot-icon {

	width: 20%;
	float: left;
	text-align: center;
}
.foot-icon i {

}
.foot-icon span {

	display: block;
}
/*Page 2 css*/
#menu-item {

	width: 85%;
	float: right;
	margin-top: 2%;
}
#menu-item a {
	
	text-decoration: navajowhite;
	color: #000;
	margin-right: 3%;
	font-weight: bold;
}
#menu-item a:last-child { margin-right: 0; }
#box-detail {
	clear: both;
	overflow: hidden; 
	background-image: url("../img/UR-poster.jpg"); 
	height: 375px;
	background-size: cover;
	background-position: top center;
}
#box-detail img { width: 100%; }
#box-detail-posi {	
	position: absolute;
	bottom: 23%;
	background-color: rgba(0,0,0,.5);
	width: 100%;
	padding-top: 5%;
}
#play-control {
	clear: both;
	overflow: hidden;
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}
#tag-name {	text-align: center; }
#tag-name span {  }
#tag-name span i { color: #d0151e; font-size: .5em; }

#pcplus {width: 25%; text-align: center; float: left;}
#pcplus i {}
#pcplus span {display: block; font-size: .8em;}

#pcplay {
	width: 30%;
	float: left;
	margin-left: 5%;
	margin-right: 5%;
}
#pcplay button {
	width: 100%;
	border-radius: 5%;
	padding: 5%; 
	cursor: pointer;}
#pcplay i {}
#pcplay span {}

#pcinfo {width: 25%;float: left;}
#pcinfo i {}
#pcinfo span { display: block; }
/*Page 3 Css*/
#video-detail {  background-image: linear-gradient(black, #6d7f81);  }
#vd-close { position: absolute;right: 5%;top: 5%; }
#vd-close i {}

#vd-img {}
#vd-img img { width: 100%; }
#vd-img-img { width: 50%;margin: 0 auto; }
#vd-img-cap {  text-align: center;}
#vd-img-cap span {  margin-right: 5%;}

#vd-playbutton {  }
#vd-img p:first-child {}
#vd-img p { line-height: 20px; }

#vd-tab { border-top: 3px solid gray; }
#vd-tab a { 
	position: relative; 
	text-decoration: navajowhite;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	margin: 3% 5%;
	font-weight: bold;
}
#vd-tab a.active::before { content: ""; background-color: red; }
#vd-tab a::before {
	content: "";
	position: absolute;
	top: -14px;
	left: 0;
	height: 5px;
	width: 100%;
}